# Some Python Basics

## Variables

Variables in Python are dynamically typed, meaning that the type is inferred from assignment, which is often referred to as duck typing (if it acts like a duck and looks like a duck, its a duck).

To get more inforation on a variables type, you can use either the type() function.

We can also get input from users to fill our variables.

## Booleans

Booleans can be handy when working with dataframes, as we will see later.  You can also add them and they are interpreted as False = 0 and True = 1

## Strings
Strings in Python are created with ' or " and are immutable, if changes need to be made to a string a new one is returned.  The default encoding for strings in Python is Unicode UTF-8, this means that they are automatically compatible with different languages.  Python strings work similar to STL strings since they are classes with support functions built in, however in Python the amount of functionality is much larger.

## Lists
In c++ choosing which container to use is actually very important (list, queue, stack, vector, array?), in Python this choice is simplified into a single container that has the functionality of everything.  To create a list use the square brackets [].  Notice that the types don't have to match, we don't care about variable types.

# Pandas
In the last lesson, we got to see Pandas in action by using it to make some visualizations of the data science salaries data.  Let's take some time to explore some of the cool features of Python and Pandas.

## The History of Pandas

Origins:

* 2008: The Pandas project was started by Wes McKinney when he was working at AQR Capital Management. The main motivation was to have a flexible tool to perform quantitative analysis on financial data. The name "pandas" is derived from the term "panel data," a common term for data that involves observations over time.

Early Development:

* 2009: Wes McKinney released the first public version of pandas. The initial versions laid the foundation with data structures like Series and DataFrame, which have since become staples for data manipulation in Python.

Increasing Adoption:

* 2010s: As data science and Python grew in popularity during the 2010s, so did pandas. It quickly became one of the cornerstones of the scientific stack in Python alongside libraries like NumPy, SciPy, and Matplotlib.
The library received significant contributions from many developers worldwide, enhancing its capabilities and making it more robust.

Books and Documentation:

* 2012: Wes McKinney published "Python for Data Analysis," which prominently features pandas and its application in data analysis. This book played a crucial role in introducing many individuals to pandas and data analysis in Python.


Pandas is often seen as a gateway to data science in Python. Its simple yet powerful interface makes it a favorite for beginners and professionals alike.
With the rise of big data tools like Apache Spark, Dask, and Vaex, pandas also integrates with these tools, allowing users to scale their analyses when necessary.

## DataFrames and Series

The DataFrame is the primary structure we will be using for this class.  It is an associative, two dimensional data structure. Imagine a spreadsheet page,  SQL table, or flat file.  The series object is a one dimensional data structure that represents a single column of data.

We can manually create a DataFrame from dictionaries, lists, series, and much else.  We can also add new features to a DataFrame, or even combine multiple DataFrames.  If our data is provided to us we can read or write to a variety of different formats: CSV, Excel, SQL, JSON, URL, clipboard, etc.

A series object can be thought of as single column of a DataFrame.

## Common useful Pandas methods

### DataFrame Creation and Input/Output
- `pd.DataFrame()`: Create a DataFrame.
- `pd.read_csv()`: Read a CSV file into a DataFrame.
- `pd.read_excel()`: Read an Excel file into a DataFrame.
- `df.to_csv()`: Write a DataFrame to a CSV file.
- `df.to_excel()`: Write a DataFrame to an Excel file.

### Viewing and Inspecting Data
- `df.head()`: View the first few rows of the DataFrame.
- `df.tail()`: View the last few rows of the DataFrame.
- `df.info()`: Get a concise summary of the DataFrame.
- `df.describe()`: Generate descriptive statistics.
- `df.shape`: Get the dimensions of the DataFrame.
- `df.columns`: Get the column labels.
- `df.index`: Get the row labels.

### Selection and Filtering
- `df.loc[]`: Access a group of rows and columns by labels.
- `df.iloc[]`: Access a group of rows and columns by integer position.
- `df[df['column'] > value]`: Filter rows based on column values.
- `df.query()`: Query the DataFrame with a boolean expression.

### Grouping and Aggregation
- `df.groupby()`: Group data by one or more columns.
- `df.agg()`: Aggregate using one or more operations over the specified axis.
- `df.size()`: Get the size of the DataFrame.
- `df.sum()`: Compute the sum of values.
- `df.mean()`: Compute the mean of values.
- `df.median()`: Compute the median of values.
- `df.min()`: Compute the minimum of values.
- `df.max()`: Compute the maximum of values.
- `df.count()`: Count the number of non-NA/null observations.

### Data Cleaning and Preparation
- `df.drop()`: Drop specified labels from rows or columns.
- `df.dropna()`: Remove missing values.
- `df.fillna()`: Fill missing values.
- `df.replace()`: Replace values.
- `df.rename()`: Rename labels.
- `df.astype()`: Cast a pandas object to a specified dtype.
- `df.sort_values()`: Sort by the values along either axis.
- `df.sort_index()`: Sort by the index.
- `df.set_index()`: Set the DataFrame index using existing columns.
- `df.reset_index()`: Reset the index, or a level of it.

### Merging and Joining
- `pd.merge()`: Merge DataFrame objects by performing a database-style join.
- `df.join()`: Join columns with other DataFrame.
- `pd.concat()`: Concatenate pandas objects along a particular axis.

### Date and Time
- `pd.to_datetime()`: Convert argument to datetime.
- `df['column'].dt`: Accessor object for datetime-like properties.

### String Methods
- `df['column'].str`: Accessor object for string methods.
- `df['column'].str.contains()`: Test if pattern or regex is contained within a string of a Series or Index.
- `df['column'].str.replace()`: Replace occurrences of pattern/regex/string with some other string.

### Statistical Functions
- `df.corr()`: Compute pairwise correlation of columns.
- `df.cov()`: Compute pairwise covariance of columns.
- `df.var()`: Compute variance of columns.
- `df.std()`: Compute standard deviation of columns.
- `df.mad()`: Compute mean absolute deviation of columns.
- `df.kurt()`: Compute kurtosis of columns.
- `df.skew()`: Compute skewness of columns.

### Visualization
- `df.plot()`: Make plots of DataFrame using matplotlib.

### Miscellaneous
- `df.pivot()`: Produce pivot table based on 3 columns of this DataFrame.
- `df.pivot_table()`: Create a spreadsheet-style pivot table as a DataFrame.
- `df.apply()`: Apply a function along an axis of the DataFrame.
- `df.applymap()`: Apply a function to a DataFrame elementwise.

## Data wrangling

Let's explore the cybersecurity threat data using Pandas methods.

In [1]:
import pandas as pd

cyber_df = pd.read_csv('assets/Cybersecurity.csv')

cyber_df.head()

,Country,Year,Attack Type,Target Industry,Financial Loss (in Million $),Number of Affected Users,Attack Source,Security Vulnerability Type,Defense Mechanism Used,Incident Resolution Time (in Hours)
0,China,2019,Phishing,Education,80.53,773169,Hacker Group,Unpatched Software,VPN,63
1,China,2019,Ransomware,Retail,62.19,295961,Hacker Group,Unpatched Software,Firewall,71
2,India,2017,Man-in-the-Middle,IT,38.65,605895,Hacker Group,Weak Passwords,VPN,20
3,UK,2024,Ransomware,Telecommunications,41.44,659320,Nation-state,Social Engineering,AI-based Detection,7
4,Germany,2018,Man-in-the-Middle,IT,74.41,810682,Insider,Social Engineering,VPN,68

In [2]:
cyber_df.tail()

,Country,Year,Attack Type,Target Industry,Financial Loss (in Million $),Number of Affected Users,Attack Source,Security Vulnerability Type,Defense Mechanism Used,Incident Resolution Time (in Hours)
2995,UK,2021,Ransomware,Government,51.42,190694,Unknown,Social Engineering,Firewall,52
2996,Brazil,2023,SQL Injection,Telecommunications,30.28,892843,Hacker Group,Zero-day,VPN,26
2997,Brazil,2017,SQL Injection,IT,32.97,734737,Nation-state,Weak Passwords,AI-based Detection,30
2998,UK,2022,SQL Injection,IT,32.17,379954,Insider,Unpatched Software,Firewall,9
2999,Germany,2021,SQL Injection,Retail,48.20,480984,Unknown,Zero-day,VPN,64

In [3]:
cyber_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Country                              3000 non-null   object
 1   Year                                 3000 non-null   int64
 2   Attack Type                          3000 non-null   object
 3   Target Industry                      3000 non-null   object
 4   Financial Loss (in Million $)        3000 non-null   float64
 5   Number of Affected Users             3000 non-null   int64
 6   Attack Source                        3000 non-null   object
 7   Security Vulnerability Type          3000 non-null   object
 8   Defense Mechanism Used               3000 non-null   object
 9   Incident Resolution Time (in Hours)  3000 non-null   int64
dtypes: float64(1), int64(3), object(6)
memory usage: 234.5+ KB

In [4]:
cyber_df.shape

(3000, 10)

In [5]:
cyber_df.describe()

,Year,Financial Loss (in Million $),Number of Affected Users,Incident Resolution Time (in Hours)
count,3000.000000,3000.000000,3000.000000,3000.000000
mean,2019.570333,50.492970,504684.136333,36.476000
std,2.857932,28.791415,289944.084972,20.570768
min,2015.000000,0.500000,424.000000,1.000000
25%,2017.000000,25.757500,255805.250000,19.000000
50%,2020.000000,50.795000,504513.000000,37.000000
75%,2022.000000,75.630000,758088.500000,55.000000
max,2024.000000,99.990000,999635.000000,72.000000

In [6]:
cyber_df.describe(include='object')

,Country,Attack Type,Target Industry,Attack Source,Security Vulnerability Type,Defense Mechanism Used
count,3000,3000,3000,3000,3000,3000
unique,10,6,7,4,4,5
top,UK,DDoS,IT,Nation-state,Zero-day,Antivirus
freq,321,531,478,794,785,628

In [7]:
cyber_df.isnull()

,Country,Year,Attack Type,Target Industry,Financial Loss (in Million $),Number of Affected Users,Attack Source,Security Vulnerability Type,Defense Mechanism Used,Incident Resolution Time (in Hours)
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False,False

In [8]:
cyber_df.isnull().sum()

Country                                0
Year                                   0
Attack Type                            0
Target Industry                        0
Financial Loss (in Million $)          0
Number of Affected Users               0
Attack Source                          0
Security Vulnerability Type            0
Defense Mechanism Used                 0
Incident Resolution Time (in Hours)    0
dtype: int64

In [9]:
titanic_df = pd.read_csv('assets/titanic_passengers.csv')

titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
titanic_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Let's create a subset that just includes attacks in education.

Let's create a new feature where we categorize incident resolution time as > 24 hours or <=24 hours

Sort the dataframe by 'Number of Affected Users' in descending order

Calculate the average number of affected users by attack type.

## The case for using AI

When is using AI a good idea?

When is using AI a bad idea?

## Asking interesting questions

What are 5 interesting questions we can ask about our data?

How can we use AI to help us write Pandas to answer them?